@import 'normalize-css';

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url('../fonts/proxima-nova-regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url('../fonts/proxima-nova-light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url('../fonts/proxima-nova-bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: ProximaNova;
  font-style: normal;
  src: url('../fonts/proxima-nova-semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  font-size: 16px;
}

body {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  line-height: 1.218;
  background-color: #050d2a;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #050d2a;
  z-index: 30;

  &__ring {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border: 10px solid #fa00ff;
    filter: blur(3px);
    border-radius: 50%;
    border-top: 10px solid #050d2a;
    border-bottom: 10px solid #050d2a;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.button {
  appearance: none;
  padding: 9px 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  box-shadow: 0 4px 16px rgb(138 97 255 / 60%);

  &--grad {
    background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
  }

  &--tp {
    background: transparent;
    border: 2px solid #fff;
  }
}

.menu-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  right: 0;
  top: 0;
  padding: 10% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(2 13 49);
  background: rgba(2 13 49 / 0.88);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  transition: .2s;

  .close {
    font-size: 32px;
    font-weight: 700;
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 32px;
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }

  .nav-mobile {
    padding: 0 10%;

    &__list {
      padding: 0;
      margin: 0;
      margin-bottom: 40px;
      list-style-type: none;
    }
  }
}

main {
  padding-bottom: 24px;
  background-image: url('../images/bg_hero.jpeg'), url('../images/bg_contact.jpeg');
  background-position: center -9%, 48% bottom;
  background-size: auto, 160%;
  background-repeat: no-repeat;

  &.fixed {
    padding-top: 70px;
  }
}

.header {
  background: rgb(1 1 31 / 40%);
  backdrop-filter: blur(5px);

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #030825;
    transition: .2s;
    z-index: 10;
  }

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    margin-right: 64px;
  }

  &__resp {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;

    .close {
      display: none;
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__nav {
    display: inline-flex;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__link {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 32px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__mobile-btn {
    appearance: none;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    position: relative;
    z-index: 1;
    display: none;

    span {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background: #fff;
    }
  }
}

.nav {
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
  }

  &__item {
    display: inline-flex;
    align-items: stretch;
    margin-right: 36px;
  }

  &__link {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    padding: 26px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background: transparent;
      border-radius: 4px 4px 0 0;
    }

    &:hover,
    &:focus,
    &.active {
      background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: linear-gradient(265.48deg, #4870FF -5.06%, #FA00FF 94.87%);
        box-shadow: 0 4px 16px rgb(138 97 255 / 60%);
      }
    }
  }
}

.hero {
  padding-top: 15px;

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 32px 30px 0;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    max-width: 586px;
    margin: 8px auto 6px;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
    max-width: 340px;
    margin: 0 auto;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px 0;
    margin-bottom: 36px;
  }

  &__button {
    width: 160px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &__signup-form {
    max-width: 864px;
    margin: 0 auto;
  }
}

.signup-form {
  background: linear-gradient(268.31deg, rgb(79 89 124 / 40%) 0%, rgb(123 135 175 / 40%) 50.52%, rgb(63 72 105 / 40%) 100%);
  border: 1px solid #3a4054;
  backdrop-filter: blur(5px);
  border-radius: 16px;
  padding: 9px 16px 16px;

  &__top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    flex: 1;
  }

  &__features {
    flex: 1;
    max-width: 377px;
  }
}

.features {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__text {
    font-size: 12px;
    margin-left: 6px;
  }
}

.form {
  display: flex;

  &--col {
    flex-flow: column nowrap;
    gap: 16px;
  }

  &__line,
  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__fields {
    flex: 1;
    display: inline-flex;
    flex-flow: row wrap;
    margin-right: 16px;
    gap: 16px;
  }

  &__input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;

    &--1-2 {
      max-width: calc(50% - 8px);
      width: 100%;
    }
  }

  &__textarea {
    min-height: 128px;
  }

  &__button {
    width: 160px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__terms {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &__accept {
    font-size: 14px;
    text-transform: capitalize;
  }

  &__link {
    color: inherit;
    text-decoration-thickness: 1px;
  }
}

.checkbox {
  display: inline-flex;
  position: relative;
  user-select: none;
  cursor: pointer;
  padding-left: 20px;
  padding-bottom: 14px;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background: rgba(255 255 255 / 93%);
    border-radius: 2px;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ span,
  &:focus input ~ span {
    background: #cee;
  }

  input:checked ~ span {
    background: #FA00FF;
  }

  input:checked ~ span::after {
    display: block;
  }
}

::placeholder {
  color: #050d2a;
  font-size: 16px;
  opacity: 0.4;
}

.section {
  padding-top: 54px;
  padding-bottom: 20px;

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
  }
}

.games {
  &__link {
    font-weight: 600;
    color: #fff;
    margin-left: auto;
    text-decoration-color: #a1a4b0;
    text-decoration-thickness: 1px;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__col {
    flex: 1;
    max-width: calc(50% - 8px);
  }

  &__tiles {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__note {
    font-size: 14px;
    margin-top: 6px;
    max-width: 655px;
  }
}

.card {
  margin-bottom: 16px;

  &-1-3 {
    max-width: calc(33.3% - 8px);
  }

  &-1-2 {
    max-width: calc(50% - 8px);
  }

  &--fw {
    max-width: 100%;
  }

  &--alt {
    position: relative;
    z-index: 1;
  }

  &__inner {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #4870ff;

      .card__image-container {
        box-shadow: 0 0 24px -4px rgba(72 112 255 / 20%);
      }
    }
  }

  &__image-container {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 0;

    &--abs {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      margin-bottom: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

    &--alt {
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: space-between;
      padding: 16px 30% 16px 12px;
      position: relative;
      z-index: 2;
    }
  }

  &__image {
    border-radius: 16px;
  }

  &__text {
    min-width: 0;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--alt {
      overflow: visible;
      white-space: normal;
      text-overflow: clip;
    }
  }

  &__firm {
    font-size: 12px;
    opacity: 0.5;
  }

  &__descr {
    font-size: 10px;
    margin-top: 5px;
  }

  &__button {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
    font-weight: 600;
    background: #4870ff;
    border-radius: 12px;
    text-align: center;
    padding: 5px 14px;
    white-space: nowrap;

    &--mt {
      margin-top: 16px;
    }
  }
}

.footer {
  background: #01011F;

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }

  &__top,
  &__bottom {
    padding: 24px 0;
  }

  &__bottom {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255 255 255 / 10%);
  }

  &__links {
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;

    &--center {
      text-align: center;
    }

    &--light {
      font-weight: 300;
    }
  }
}

.links {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &__item {
    padding: 0 10px;
    position: relative;

    &:not(:last-child)::before {
      content: '|';
      font-weight: inherit;
      font-size: inherit;
      position: absolute;
      right: -2px;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__item {
    margin-left: 12px;
  }
}

.contact {
  &__inner {
    position: relative;
    z-index: 1;
  }

  &__decor {
    position: absolute;
    bottom: -44px;
    right: 4%;
    z-index: -1;
  }

  &__form {
    max-width: 400px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
  }
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgb(2 13 49);
  background: rgba(2 13 49 / 0.88);
  backdrop-filter: blur(5px);

  &__content {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    border: 1px solid #3a4054;
    max-width: 460px;
    overflow: hidden;
    background: linear-gradient(268.31deg, rgba(79 89 124 / 0.4) 0%, rgba(123 135 175 / 0.4) 50.52%, rgba(63 72 105 / 0.4) 100%);
    backdrop-filter: blur(5px);
    animation: animatetop 0.5s;
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.tabforms {
  &__tabs {
  }

  &__form {
    display: none;
    animation: fade 0.4s;

    .form {
      display: flex;
      flex-flow: column nowrap;
      padding: 24px 16px;
      gap: 16px;

      &__button {
        margin: 0 auto;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  &__button {
    display: flex;
    flex: 1 0 50%;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    justify-content: center;
    align-items: center;
    background: transparent;

    &:hover,
    &:focus,
    &.active {
      background: rgba(5 13 42 / 0.4);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (width <= 1100px) {
  .header {
    &__inner {
      padding-top: 12px;
      padding-bottom: 11px;
    }

    &__logo {
      width: 40px;
      height: 40px;
    }

    &__resp {
      background: #050d2a;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      height: auto;
      width: 0;
      padding: 60px 0 40px;
      overflow-x: hidden;
      z-index: 10;
      transition: .2s;

      .close {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        line-height: 1;
      }
    }

    &__mobile-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
    }

    &__actions {
      padding: 12px;
      margin-top: 24px;
      margin-left: 0;
    }
  }

  .nav {
    &__list {
      flex-direction: column;
      margin-right: 0;
    }

    &__item {
      margin: 0;
      align-items: center;
    }

    &__link {
      display: flex;
      justify-content: center;
      flex: 1;
      padding: 12px 24px;
      font-size: 20px;
    }
  }

  .games {
    &__grid {
      flex-flow: column nowrap;
      align-items: center;
    }

    &__col {
      max-width: 100%;
    }
  }

  .hero {
    &__inner {
      max-width: 520px;
    }

    &__signup-form {
      flex-direction: column;
    }
  }

  .section {
    &__inner {
      max-width: 520px;
    }
  }

  .signup-form {
    backdrop-filter: unset;

    &__top {
      flex-flow: column nowrap;
    }
  }

  .form {
    &__row,
    &__fields {
      flex: 1;
      flex-flow: column nowrap;
      margin-right: 0;
    }

    &__row {
      align-items: stretch;
      gap: 16px;
    }
  }

  .contact {
    &__decor {
      right: -50%;
    }
  }
}

@media (width <= 520px) {
  .hero {
    &__title {
      font-size: 34px;
    }
  }

  .contact {
    &__decor {
      display: none;
    }
  }

  .features {
    &__item {
      flex-flow: column nowrap;
      align-items: center;
    }

    &__text {
      text-align: center;
      margin-left: 0;
    }
  }

  .card {
    &-mob-fw {
      max-width: 100%;
    }

    &-mob-1-2 {
      max-width: calc(50% - 8px);
      width: 100%;
    }

    &__image {
      width: 100%;
    }
  }

  .links {
    flex-direction: column;

    &__item {
      margin: 8px 0;

      &::before {
        display: none;
      }
    }
  }

  .form {
    &__input {
      &-mob-fw {
        max-width: 100%;
      }
    }

    &__line {
      flex-flow: column nowrap;
      gap: 16px;
    }
  }
}
